[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/benchmarks/AnyOption"]
	path = tests/benchmarks/AnyOption
	url = https://github.com/hackorama/AnyOption.git
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
